.text {
  margin-bottom: 30px;
}
.container {
  max-width: 80%;
  margin: 0 auto;
  position: relative;
  padding: 0 15px;
}
.body {
  position: relative;
  z-index: 2;
}
.body {
  padding: 30px 45px 40px;

  font-size: 21px;
  line-height: 32px;

  border-radius: 20px;
  background-color: #fff;
}
.char.correctChar,
.char.incorrectChar {
  padding: 3px;

  color: #fff;
  border-radius: 3px;
}
.char {
  color: #5c5c5c;
}
.char.correctChar {
  background-color: #5bc538;
}
.char.incorrectChar {
  background-color: #f36747;
}
.char.passChar {
  color: #5bc538;
}
